@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("notify-grid.css");
@import url("notify-icons.css");
body {
    margin: 0;
    padding: 0;
}
.bg-green{
    background-color: #2ecc71;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #e3e3e3;
}

.top-line{
    height: 10px;
}

.header {
    background-image: url("header-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
/*     remove later */
    height: 600px;
     
}

.constrain {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-round {
    border-radius: 50%;
    border: none;
}
.button-large {
    padding: 17px;
}
.button-small {
    padding: 10px;
}
.title {
    margin: 30px 0;
    color: #222;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
}
.description {
    margin: 30px 0;
    color: #848484;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.features .col {
    text-align: center;
}
.features .description {
    margin-bottom: 0;
}
.get-notified .title {
    margin-top: 0;
}
.get-notified .form {
    width: 77%;
    white-space: nowrap;
}
.email {
    padding: 5px 20px 5px 20px;
    height: 55px;
    width: 66.66%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
    font-size: 18px;
    color: #848484;
}

.submit {
    height: 55px;
    width: 33.33%;
    margin-left: -4px;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}




















