@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("notify-grid.css");
@import url("notify-icons.css");
body {
    margin: 0;
    padding: 0;
}
.bg-green{
    background-color: #2ecc71;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #e3e3e3;
}
.bg-light-grey{
    background-color: #c5c5c5;
}
.bg-black {
    background-color: #030303;
}

.top-line{
    height: 10px;
}

.header {
    background-image: url("header-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
/*     remove later */
    height: 600px;
     
}

.constrain {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-round {
    border-radius: 50%;
    border: none;
}
.button-large {
    padding: 20px;
/*
    width: 98px;
    height: 98px;
*/
}
.button-small {
    padding: 10px;
    opacity: 0.6;
}
.button-small:hover {
    opacity: 1;
    background-color: #2ecc71;
    cursor: pointer;
}
.button-x-small {
/*     padding: 7px; */
    width: 34px;
    height: 34px;
}
.button-x-small:hover {
    cursor: pointer;
    background-color: #2ecc71;
    opacity: 0.6;
}

.title {
    margin: 30px 0;
    color: #222;
    font-family: Raleway;
    font-weight: 600;
}
.font-size-22 {
    font-size: 22px;
    line-height: 22px;
}

.font-size-24 {
    font-size: 24px;
    line-height: 24px;
}
.description {
    margin: 30px 0;
    color: #848484;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.italic {
    font-style: italic;
}
.features .col {
    text-align: center;
}
.features .description {
    margin-bottom: 0;
}
.get-notified .title {
    margin-top: 0;
}
.get-notified .form {
    width: 77%;
    white-space: nowrap;
}
.email {
    padding: 5px 20px 5px 20px;
    height: 55px;
    width: 66.66%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
    font-size: 18px;
    color: #848484;
}

.submit {
    height: 55px;
    width: 33.33%;
    margin-left: -4px;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.video {
    float: right;
    width: 500px;
    height: 280px;
    border-radius: 10px;
}
.testimonials {
    text-align: center;
}
.testimonials .description {
    padding-left: 200px;
    padding-right: 200px;
    
}
.testimonials li {
    list-style: none;
    position: relative;
    margin: -1px;
    padding: 1px;
    display: inline-block;
}
.testimonials li > img {
    float: left;
}

.testimonials .gallery {
    padding: 0;
    margin-bottom: 60px;
}

.testimonials li:hover:after {
    content: " ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #2ecc71;
    opacity: 0.6;
} 

.testimonials li:hover {
    cursor: pointer;
}

.testimonials li:first-child:before {
    content: " ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:linear-gradient(90deg, #fffcfc 10%, rgba(255,255,255,0) 90%);
}

.testimonials li:last-child:before {
    content: " ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:linear-gradient(270deg, #fffcfc 10%, rgba(255, 255, 255, 0) 90%);
}

.testimonials button {
    margin: 3px;
}
.footer {
    text-align: center;
}
.footer p {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; 
    margin: 0;
}









